# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Describe how to use the notebooks in JupyterLab
- Describe how to work in a notebook session
- Describe the basic Jupyter architecture

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatPlotlib
4. Plotli

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensoFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [9]:
x=200;
# This will convert 200 minutes to hours by diving by 60
y=x/60;

print(x, "minutes is", y, "hours")

200 minutes is 3.3333333333333335 hours

## Author
Swapnil Churi